{% extends 'index_base.html' %}
{% load staticfiles %}
{% block contents %}
    <div class="panel-default col-sm-8 col-sm-offset-2">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-pencil mr10"></span>  회원가입
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" data-toggle="validator" role="form" action="" method="post">
                {% csrf_token %}
                <div class="form-group mt4em">
                    <label for="username" class="col-sm-3 control-label">ID</label>
                    <div class="col-sm-7">
                        <input type="text" data-minlength="4" class="form-control" name="username" id="username"
                                {% if isEmailError %}
                                placeholder="{{ isUsernameError }}은 이미 가입된 ID입니다."
                                {% else %}
                                placeholder="최소 4자 이상"
                                {% endif %} required>
                    <div class="help-block">최소 4자 이상</div>

                    </div>
                </div>

                <div class="form-group mt20">
                    <label for="password" class="col-sm-3 control-label">비밀번호</label>
                    <div class="col-sm-7">
                            <input type="password" data-minlength="6" name="password" class="form-control" id="password" placeholder="비밀번호" required>
                            <div class="help-block">최소 6자 이상</div>
                            <input type="password" class="form-control" id="passwordConfirm" data-match="#password" data-match-error="비밀번호가 일치하지 않습니다." placeholder="비밀번호를 다시 입력해주세요." required>
                            <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group mt20">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" name="email" id="email"
                                {% if isEmailError %}
                                placeholder="{{ isEmailError }}은 이미 가입된 Email입니다."
                                {% else %}
                                placeholder="email"
                                {% endif %} required>
                            <input type="checkbox" name="subscribe" id="subscribe">  인기 타투 도안, 프로모션 정보 수신 허용(선택사항)
                        </div>
                </div>
                <div class="col-sm-10 col-sm-offset-1 terms mt4em">
                    {% include 'service-terms.html' %}
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="checkbox" id="service-terms" required>  서비스 이용 약관에 동의합니다.(필수사항)
                    </div>
                </div>
                <div class="col-sm-10 col-sm-offset-1 terms mt4em">
                    {% include 'privacy-policy.html' %}
                </div>
                 <div class="form-group">
                     <div class="col-sm-10 col-sm-offset-1">
                         <input type="checkbox" id="privacy-policy"required>  개인정보수집 및 이용에 동의합니다.(필수사항)
                     </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12  col-sm-offset-1">
                            <button type="submit" class="btn btn-danger col-sm-4 col-sm-offset-3 mt4em">회원가입</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/validator.js' %}"></script>
{% endblock %}