{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="jumbotron col-md-6 col-md-offset-3 mt4em text-center">
        <h3>{% trans "비밀번호 변경" %}</h3>
        <div class="col-sm-10 col-sm-offset-1 login-divider"></div>
        <div class="well" style="border: none;">
            SNS 계정으로 로그인 하셨습니다.<br>
            SNS 계정의 비밀번호 변경은<br>
            해당 SNS에서 직접 하셔야합니다.
        </div>
    </div>
{% endblock %}
