{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="jumbotron col-md-6 col-md-offset-3 mt4em text-center">
        <h3>{% trans "비밀번호 변경" %}</h3>
        <div class="col-sm-10 col-sm-offset-1 login-divider"></div>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% for field in form %}
                <div class="row mb20 ">
                    <div class="col-sm-12 text-left">
                    {{ field.label }}
                    </div>
                    <div class="col-sm-12">
                    {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <div class="col-sm-12 mb20 text-left text-warning">
                        {{ error }}
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
            <button type="submit" name="action" class="btn btn-danger mt4em">{% trans "비밀번호 변경" %}</button>
        </form>
    </div>
{% endblock %}
