{% load tag_button %}
{% if isResultEmpty %}
    <div class="text-center">
        <h4>
            검색 결과가 없습니다.
        </h4>
    </div>
{% elif isScrapEmpty%}
    <div class="text-center">
        <h5>
            아직 스크랩하신 사진이 없네요!
        </h5>
        <h5>
            마음에 드는 도안, 사진을 스크랩해보세요!
        </h5>
    </div>
{% else %}
    {% for pic, tag in pics %}
    <div class="col-md-3">

            <div class="issueContainer-vert" style="background-image:url('{{ pic.url }}'); background-size:cover; background-position:center;">
                <a href="{% if isDailyTats %}{% url "picDetail_daily" pk=pic.id %}{% else %}{% url "picDetail" pk=pic.id %}{% endif %}">
                <div class="fit-parent"></div>
                </a>
                <div class="pageBar"></div>
                <div class="issueInfo-vert">
                    <div class="issueHeader-vert">{{ tag.0 }} / {{ tag.1 }}</div>
                    <p class="issueExcerpt-vert"></p>
                    {% tag_button pic.id %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
{% endif %}