{% extends "index_base.html" %}
{% block head %}
    <title>Bad..400</title>
{% endblock %}
{% block contents %}
     <div class="jumbotron background-400 col-md-6 col-md-offset-3 mt4em jumbotron-error">
         <h1>400</h1>
         <div class="login-divider-3px"></div>
         <h3>BAD REQUEST</h3>
         <h5>STAY CALM AND JUST CHILL</h5>
        <div class="err-desc mt4em"><br><br>비정상적인 요청입니다.<br>페이지호출을 차단했습니다.<br>불편사항 문의 : <a href="mailto:contact.tatthat@gmail.com" style="color:#FFFFFF;">contact.tatthat@gmail.com</a><br></div>
     </div>
{% endblock %}