     <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default staff-pick">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="glyphicon glyphicon-picture"></span>
                            DAILY TATS
                        </div>
                    </div>
                    <div class="panel-body">
                        {% for info in picInfos %}
                        <div class="col-md-6">
                            <a href="{% url "picDetail_daily" pk=info.id %}">
                                <div class="issueContainer" style="background-image:url('{{ info.url }}'); background-size:cover; background-position:center;">
                                    <div class="pageBar"></div>
                                    <div class="issueInfo">
                                        <div class="issueHeader">{{ info.tags.0 }} / {{ info.tags.1 }}</div>
                                        <p class="issueExcerpt"></p>
                                            {% for tag in info.tags  %}
                                                <div class="btn btn-sm btn-tag">{{ tag }}</div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
       </div>
