{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <!--    <nav class="navbar navbar-default navbar-fixed-top">-->
    <nav class="navbar navbar-default">
    <div class="modal fade" id="shop_notopen" tabindex="-1" role="alert" aria-labelledby="shop_notopenLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content background-not-yet" style="height: 40em;">
                          <div class="modal-header" style="border:none;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="text-shadow:1px 1px 4px #000000;">&times;</span></button>
                            <span class="modal-title" style="text-shadow:1px 1px 4px #000000;">Oops!Sorry!</span>
                          </div>
                          <div class="modal-body">
                            <h4 class="mt4em" style="color:#ffffff; text-shadow:1px 1px 4px #000000;">
                                Coming Soon
                            </h4>
                            <div class="login-divider mt4em" style="background-color: #ffffff; height:3px; box-shadow: 1px 1px 4px #000000"></div>
                            <p style="font-weight: normal; font-size: 1.2em; text-shadow:1px 1px 4px #000000;">
                              TatThat의 Shop에서 실력있는 타투이스트들을 만나보세요!<br>
                              감각적인 타투이스트들의 도안을 TatThat에서 구매하고,<br>
                              작업일 예약도 할 수 있습니다.<br>
                              열심히 준비중이니 조금만 기다려주세요!
                            </p>
                              <p class="mt4em" style="font-weight: normal; font-size: 1.2em; text-shadow:1px 1px 4px #000000;">
                              SHOP 입점 문의 contact.tatthat@gmail.com
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "index" %}">
                    <div class="brand-image"></div>
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="{% block isActiveSearch %}{% endblock %}"><a href={% url "searchMain" %}>SEARCH</a>
                    </li>
                    <li class="{% block isActiveShop %}{% endblock %} cursor-pointer" data-toggle="modal" data-target="#shop_notopen"><a>SHOP</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">

                        {% if user.is_authenticated %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} 님<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/accounts">내 정보</a>
                                </li>
                                <li class="cursor-pointer" data-toggle="modal" data-target="#shop_notopen"><a href="#">구매내역</a>
                                </li>
                                <li><a href="{% url 'my_scrap_book' %}">스크랩북</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{% url 'account_logout' %}">로그아웃</a>
                                </li>
                            </ul>
                        {% else %}
                            <a href="{% url 'login' %}">로그인<b class="caret"></b></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
      {% block contents %}
      {% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <ul class="list-unstyled">
                    <li><a href="{% url "footer_about" %}">About TatThat</a>
                    </li>
                    <li><a href="{% url "footer_terms" %}">서비스약관</a>
                    </li>
                    <li><a href="{% url "footer_privacy" %}">개인정보취급방침</a>
                    </li>
                    <li><a href="http://facebook.com/tatthat.co.kr" target="_blank">Facebook</a>
                    </li>
                </ul>
                <p>
                    2015, <a href="./index.html">TatThat</a>
                </p>
                <p>
                    Made by <a href="./index.html">TatThat</a> Team.
                </p>
                <p>
                    Contact : <a href="mailto:contact.tatthat@gmail.com">contact.tatthat@gmail.com</a>
                </p>
                <p>
                    COPYRIGHT(C) 2015 <a href="./index.html">TatThat</a> ALL RIGHTS RESERVED
                </p>
            </div>
        </div>
        </div>
    </footer>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>